<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957060511196-98k9tf66r0uitmae40513l3db1k1vpkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957060511196-98k9tf66r0uitmae40513l3db1k1vpkq</string>
	<key>API_KEY</key>
	<string>AIzaSyAHNWTG1j-AN_DAaCkRaF7g-A4y0oUGB7g</string>
	<key>GCM_SENDER_ID</key>
	<string>957060511196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.longboardapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>longboardapp-9e6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>longboardapp-9e6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957060511196:ios:91398cfe723d4ed6624b19</string>
</dict>
</plist>